/*Custom variables*/
:root {
  /*Spacing variables*/
  --spacing-0: 0rem;
  --spacing-100: 0.8rem;
  --spacing-200: 1.6rem;
  --spacing-300: 2.4rem;
  --spacing-400: 3.2rem;
  --spacing-600: 4.8rem;
  --spacing-1000: 8rem;
  --spacing-1200: 9.6rem;
  --spacing-1500: 12rem;
  --spacing-1600: 12.8rem;
  /*Color varaibles*/
  --white-color: hsl(0, 100%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --gray-600-color: hsl(180, 25%, 32%);
  --gray-550-color: hsl(180, 18%, 40%);
  --gray-500-color: hsl(186, 14%, 43%);
  --gray-400-color: hsl(184, 14%, 56%);
  --gray-300-color: hsl(184, 19%, 68%);
  --gray-200-color: hsl(185, 41%, 84%);
  --gray-50-color: hsl(186, 47%, 97%);
  --green-900-color: hsl(183, 100%, 15%);
  --green-800-color: hsl(183, 85%, 21%);
  --green-750-color: hsl(183, 79%, 24%);
  --green-400-color: hsl(172, 67%, 45%);
  --green-200-color: hsl(173, 61%, 77%);
  --orange-400-color: hsl(13, 70%, 60%);
  /*Typography varaibles*/
  /*text preset1 varaibles*/
  --text-preset1-font-family:
    "space-mono", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset1-font-size: 4.8rem;
  --text-preset1-line-height: 7.1rem;
  --text-preset1-letter-spacing: -0.1rem;

  /*text preset2 varaibles*/
  --text-preset2-font-family:
    "space-mono", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset2-font-size: 3.2rem;
  --text-preset2-line-height: 4.7rem;
  --text-preset2-letter-spacing: -0.067rem;
  /*text preset 3 varaibles*/
  --text-preset3-font-family:
    "space-mono", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset3-font-size: 2.4rem;
  --text-preset3-line-height: 6.3rem;
  --text-preset3-letter-spacing: 0rem;
  /*text preset4 varaibles*/
  --text-preset4-font-family:
    "space-mono", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset4-font-size: 2rem;
  --text-preset4-line-height: 3rem;
  --text-preset4-letter-spacing: -0.1rem;
  /*text preset5 varaibles*/
  --text-preset5-font-family:
    "space-mono", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset5-font-size: 1.6rem;
  --text-preset5-line-height: 2.4rem;
  --text-preset5-letter-spacing: 0rem;
  /*text preset6 varaibles*/
  --text-preset6-font-family:
    "space-mono", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --text-preset6-font-size: 1.3rem;
  --text-preset6-line-height: 1.9rem;
  --text-preset6-letter-spacing: 0rem;
}

/*HTML Styles*/
html {
  font-size: 62.5%;
}

/*Body Styles*/
body {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray-200-color);
}
.main-img {
  margin-top: 5rem;
}
/*Main container Styles*/
/*Has two main sections*/
.main-container {
  background-color: var(--white-color);
  padding: var(--spacing-400) var(--spacing-300);
  margin-top: 4rem;
  border-radius: 2.5rem 2.5rem 0 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
/*Section 1 styles*/
/*Has three parts*/
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-400);
}
/*Part 1 styles*/
.bill-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-400);
}
.bill-header {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-100);
}
.bill-label {
  font-family: var(--text-preset5-font-family);
  font-size: var(--text-preset5-font-size);
  letter-spacing: var(--text-preset5-letter-spacing);
  line-height: var(--text-preset5-line-height);
  color: var(--gray-500-color);
}
.bill-amount-container {
  position: relative;
  align-self: stretch;
  border-radius: 0.5rem;
  height: 4.8rem;
}
.bill-input {
  display: flex;

  padding-right: 1.837rem;

  font-family: var(--text-preset3-font-family);
  font-size: var(--text-preset3-font-size);
  letter-spacing: var(--text-preset3-letter-spacing);
  line-height: var(--text-preset3-line-height);
  color: var(--green-900-color);

  text-align: right;

  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--gray-50-color);
}
.bill-input::placeholder {
  color: var(--gray-300-color);
}
.bill-input:focus {
  /* border: 0.2rem solid var(--green-400-color); */
  outline: 0.2rem solid var(--green-400-color);
}
.dollar-icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 1.837rem;
  transform: translateY(-50%);
}

/*Part 2 styles*/
.tip-selection-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-200);
}
.tip-label {
  font-family: var(--text-preset5-font-family);
  font-size: var(--text-preset5-font-size);
  letter-spacing: var(--text-preset5-letter-spacing);
  line-height: var(--text-preset5-line-height);
  color: var(--gray-500-color);
}
.tip-options-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-200);
}
.row {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-200);
}
.tip-button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-grow: 1;
  width: 14.7rem;
  height: 4.8rem;
  background-color: var(--green-900-color);
  color: var(--white-color);
  border: none;
  border-radius: 0.5rem;
  padding: var(--spacing-100) var(--spacing-200);
  font-family: var(--text-preset3-font-family);
  font-size: var(--text-preset3-font-size);
  letter-spacing: var(--text-preset3-letter-spacing);
  line-height: var(--text-preset3-line-height);
}
.tip-button:hover {
  background-color: var(--green-200-color);
  color: var(--green-900-color);
}
.tip-button:focus {
  background-color: var(--green-400-color);
  color: var(--green-900-color);
}
.custom-tip-input {
  color: var(--gray-550-color);
  background-color: var(--gray-50-color);
  border: none;
  border-radius: 0.5rem;
  padding: var(--spacing-100) var(--spacing-200);
  width: 14.7rem;
  height: 4.8rem;
  text-align: center;
  padding: var(--spacing-200) var(--spacing-100);
  font-family: var(--text-preset3-font-family);
  font-size: var(--text-preset3-font-size);
  letter-spacing: var(--text-preset3-letter-spacing);
  line-height: var(--text-preset3-line-height);
}
.custom-tip-input:focus {
  outline: 0.2rem solid var(--green-200-color);
}
/*Part 3 styles*/
.people-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-100);
}
.people-container-labels {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: var(--text-preset5-font-family);
  font-size: var(--text-preset5-font-size);
  letter-spacing: var(--text-preset5-letter-spacing);
  line-height: var(--text-preset5-line-height);

  height: 24px;
}
.people-container-labels .people-label {
  color: var(--gray-500-color);
}
.people-container-labels .error-message {
  color: var(--orange-400-color);
}
.show-error {
  display: block;
}
.people-input-container {
  align-self: stretch;
  height: 4.8rem;
  position: relative;
}
.people-icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 1.84rem;
  transform: translateY(-50%);
}
.people-input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.5rem;
  height: 4.8rem;
  padding: 6px 17px;
  background-color: var(--gray-50-color);

  text-align: right;

  font-family: var(--text-preset3-font-family);
  font-size: var(--text-preset3-font-size);
  letter-spacing: var(--text-preset3-letter-spacing);
  line-height: var(--text-preset3-line-height);
  color: var(--green-900-color);
}
.people-input::placeholder {
  color: var(--gray-300-color);
}
.people-input:focus {
  outline: 0.2rem solid var(--green-400-color);
}
.error-state {
  outline: 0.2rem solid var(--orange-400-color);
}
/*Section 2 Styles*/
.results-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-100);

  border-radius: 1.5rem;
  padding: var(--spacing-300);
  background-color: var(--green-900-color);
}
.results-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-400);
}
.result-details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-300);
}
.tip-amount-row,
.total-amount-row {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--white-color);

  font-family: var(--text-preset5-font-family);
  font-size: var(--text-preset5-font-size);
  letter-spacing: var(--text-preset5-letter-spacing);
  line-height: var(--text-preset5-line-height);
}
.tip-amount-row span,
.total-amount-row span {
  color: var(--gray-400-color);
  font-family: var(--text-preset6-font-family);
  font-size: var(--text-preset6-font-size);
  letter-spacing: var(--text-preset6-letter-spacing);
  line-height: var(--text-preset6-line-height);
}

.tip-amount-row p:last-child,
.total-amount-row p:last-child {
  color: var(--green-400-color);

  font-family: var(--text-preset2-font-family);
  font-size: var(--text-preset2-font-size);
  letter-spacing: var(--text-preset2-letter-spacing);
  line-height: var(--text-preset2-line-height);
}
.result-button {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: var(--spacing-100);

  padding: var(--spacing-100) var(--spacing-400);
  border: none;
  border-radius: 0.5rem;
  background-color: var(--green-400-color);
  text-align: center;
  color: var(--green-900-color);
  font-family: var(--text-preset4-font-family);
  font-size: var(--text-preset4-font-size);
  letter-spacing: var(--text-preset4-letter-spacing);
  line-height: var(--text-preset4-line-height);
}
.result-button:hover {
  background-color: var(--green-200-color);
}
.result-button:disabled {
  color: var(--green-800-color);
  background-color: var(--green-750-color);
}
/*Footer styles*/
.footer {
  font-size: 0.6875rem;
  text-align: center;

  & a {
    color: hsl(228, 45%, 44%);
  }
}
