/*Define The variables here*/
:root{
    --random-variable: 14px;
}

/*HTML Styles*/
html{
    font-size: 62.5%; /*This will make the base font size = 10px = 1rem, any px value converte it by 10 will result into rem equvalent value*/
}

/*Body Styles*/
body{
    font-size: 1.4rem; /*This will = 14px on the base line that we defined upove.*/
}
